@import "../../variables.scss";

.page-title {
    color: #284c65;
    font-size: 25px;
    padding: 20px;
    border-bottom: solid #284c65;

}


.list {
    display: flex;
    justify-content: space-between;
}

.second-row {
    display: flex;
}

.time {
    margin-left: 20px;
}
.category {
    margin-left: 50px;
}


.item-btns {
    display: block;
    // width: 35px;
    margin-right: 20px;

    button {
        width: 35px;
        
    }

    .btn-liked {
        background-color:  $sca-pink;
    }

}
