body{
    color: #284C65;
}

h1 {
    color: #FEC1AE;
}

#Q {
    background-color: #FEC1AE;
}

#Sam {
    background-color: #FEC1AE;
}

#Jaime {
    background-color: #FEC1AE;
}

#Kim {
    background-color: #FEC1AE;
}