@import "./variables.scss";
@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
  color: $sca-light-blue;
  height: fit-content;
  min-height: 100vh;
  background-color: $sca-dark-blue;
}

main {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;
  height: 100%;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 10px 30px;
  }
    .pause-p {
        color: $sca-pink
    }

  h1#home-logo {
    color: $sca-pink;
    font-size: 40px;
    margin-top: 150px;
    text-align: left;
    font-family: $sans-serif;
  }

  h2.motto {
    text-align: left;
    color: $sca-gray;
    padding-top: 1rem;
  }

  .blink_me1 {
    animation: blinker 2.5s linear infinite;
  }
  
  hr {
    width: 80%;
    border-bottom: 1px dashed $sca-light-blue;
  }

  h4 {
    color: $sca-light-blue;
    text-align: left;
    margin-right: 30px;
  }

   h4#call-to-action {
    color: $sca-pink;
    text-align: center;
    font-style: italic;
  }
  
  #home-logo {
  
    i {
      color: $sca-light-blue;
    }
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

}
footer {
  bottom: 0;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: fit-content;
  background-color: $sca-dark-blue;
  font-size: 0.85rem;
  text-align: right;
  font-style: italic;

  a {
    color: $sca-light-blue !important;
  }

}
