@import "./variables.scss";

.App {
  text-align: center;
  background-color: $sca-dark-blue;
  color: $sca-light-blue;
}

h1 {
  color: $sca-pink;
  font-size: 40px;
  margin-top: 150px;
  text-align: right;
  margin-right: 30px;
}

h2 {
  color: $sca-gray;
  text-align: right;
  margin-right: 30px;
  margin-left: 100px;
}

main {
  background-color: $sca-pink;;
}